html {
  font-family: "Fredoka One", sans-serif;
}

header {
  background-image: repeating-linear-gradient(-45deg, #c9fcff, #c9fcff 1%, #d4fdff 1%, #d4fdff 2%);
  border-top: 5px solid #b3fbff;
  border-bottom: 5px solid #b3fbff;
  position: relative;
  height: 500px;
}

.title {
  color: #990073;
  transform: rotate(-9deg);
  position: absolute;
  left: 40px;
  top: 80px;
  animation: fade-in 1s ease forwards;
}

.tagline {
  color: #c09;
  transform: rotate(-5deg);
  position: absolute;
  left: 55px;
  top: 180px;
  max-width: 19em;
  animation: fade-in 1s ease forwards;
}

.title, .tagline {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
}

.btn-ghost {
  border: 3px solid #990073;
  color: #c09;
  position: absolute;
  left: 55px;
  top: 310px;
  animation: fade-in 1s ease forwards;
}

.btn-ghost:hover {
  border: 3px solid #990073;
  color: #c09;
}

@keyframes fade-in {

  0% {
    filter: blur(14px);
    opacity: .4;
  }

  100% {
    filter: blur(0);
    opacity: 1;
  }

}

.cherry {
  height: 155px;
  position: absolute;
  top: -30px;
  z-index: 12;
  animation: i-scream 5s ease forwards;
}

.vanilla {
  height: 155px;
  position: absolute;
  top: 45px;
  z-index: 11;
  animation: i-scream 4s ease forwards;
}

.chocolate {
  height: 155px;
  position: absolute;
  top: 125px;
  z-index: 10;
  animation: i-scream 3s ease forwards;
}

.mint {
  height: 155px;
  position: absolute;
  top: 215px;
  animation: i-scream 2s ease forwards;
}

.cone {
  height: 155px;
  position: absolute;
  top: 320px;
  animation: i-scream 1s ease forwards;
}

@keyframes i-scream {

  0% {
    transform: translateY(-1000px);
  }

  100% {
    transform: translateY(0);
  }
}
